<section class="above-fold--wrapper">
  <h1 class="main-headline">Find your dream team</h1>
  <%= link_to new_project_path do %>
    <button class="main-btn">Start your journey</button>
  <% end %>
  <div class="video-wrapper">
    <video muted autoplay loop autoplay="autoplay" class="vid-01">
      <source src="https://imgasset.s3.ca-central-1.amazonaws.com/startapp-anim--01.mp4" type="video/mp4">
    </video>
  </div>
  <%# <%= image_tag "start-app--hero-img.png", class: "hero-img" %>
</section>
<section class="value-prop--wrapper">
  <div class="line-decorator--dashed"></div>
  <div class="value-prop--container">
    <span class="headline-num--decorator">1</span>
    <h3>Struggling to find the right developers for your startup?</h3>
  </div>
  <div class="value-prop--container">
    <span class="headline-num--decorator">2</span>
    <h3>Our app matches you with top talent in seconds</h3>
  </div>
  <div class="value-prop--container">
    <span class="headline-num--decorator">3</span>
    <h3>Build your dream team and launch your startup to success</h3>
  </div>
</section>
<div class="video-wrapper-02">
  <video muted autoplay loop autoplay="autoplay" class="vid-02">
    <source src="https://imgasset.s3.ca-central-1.amazonaws.com/anim-02.mp4" type="video/mp4">
  </video>
  <h1 class="main-headline sub">Take your startup to the next level</h1>
  <%= link_to new_project_path do %>
    <button class="main-btn full-w">Find the perfect fit</button>
  <% end %>
</div>
<style>
  .video-wrapper {
  		margin-top: 80px;
  	border-radius: 100vw;
  	background-color: #F6F4E8;
  	overflow: clip;
  }

  .vid-01 {
  	width: 100%;
  	height: 100%;
  	opacity: 90%;
  }

  section.above-fold--wrapper {
  	padding: 20px;
  	width: 100vw;
  	max-width: 100vw;
  	overflow: hidden;
  }

  .main-headline {
  	font-size: 64px;
  	font-weight: 550;
  	font-familày: mona;
  	line-height: 1;
  	margin-bottom: 20px;
  	padding-top: 100px;
  }


  button {
  	padding: 12px 18px;
  	background-color: var(--primary-container);
  	color: var(--on-primary);
  	border: 1px solid var(--on-primary);
  	border-radius: 4px;
  }

  .app-card-carousel--wrapper {
  	max-width: 100%;
  	display: flex;
  	gap: 16px;
  	overflow-x: scroll;
  	scroll-snap-type: x mandatory;
  	padding: 8px 16px;
  	margin-top: 100px;
  }

  .card.card-container {
  	min-width: 80vw;
  	aspect-ratio: 3 / 4;
  	scroll-snap-align: center;
  	overflow: clip;
  	padding: 0;
  }

  .carousel-img {
  	height: 100%;
  }

  .card-headline {
  	font-size: 24px;
  	font-weight: normal;
  }

  .headline-container::after {
  	position: absolute;
  	content: "";
  	display: block;
  	width: 8px;
  	height: 8px;
  	background-color: var(--txt-secondary);
  	right: 8px;
  	bottom: 8px;

  }

  .img-container {
  	width: 100%;
  	height: 200px;
  	background-image: url("https://cdn.robinhood.com/assets/generated_assets/brand/_next/static/images/stocklending__9e8a647e0363cbbbd79dc4a2509c9b62.png");
  	background-size: cover;
  	background-position: center;
  	border-bottom: var(--stroke);
  }

  .app-card-carousel--wrapper .card-container:nth-of-type(2) .img-container {
  	background-image: url("https://imgasset.s3.ca-central-1.amazonaws.com/carousel--img-02.png");
  }

  .app-card-carousel--wrapper .card-container:nth-of-type(3) .img-container {
  	background-image: url("https://imgasset.s3.ca-central-1.amazonaws.com/carousel--img-03.png");
  }

  .headline-container {
  	padding: 24px 8px;
  }

  .app-card-carousel--wrapper {
  	margin-bottom: 200px;
  }

  .value-prop--wrapper {
  	position: relative;
  	padding: 60px 20px;
  }

  .value-prop--container {
  	position: inherit;
  	display: flex;
  	justify-content: flex-start;
  	gap: 24px;
  	margin-bottom: 60px;
  	z-index: 2;
  }

  .value-prop--container:last-of-type {
  	margin-bottom: 0px
  }

  .value-prop--container h3 {
  	font-size: 24px;
  	line-height: 150%;
  }

  .headline-num--decorator {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	min-width: 30px;
  	max-width: 30px;
  	height: 40px;
  	border-radius: 16px;
  	font-variation-settings: 'wdth' 140;
  	font-weight: 550;
  	background-color: var(--primary-container);
  	border: 1px solid var(--txt-primary);
  }

  .line-decorator--dashed {
  	position: absolute;
  	top: 0;
  	left: 0;
  	z-index: 1;
  	height: 100%;
  	left: 35px;
  	border: 1px dashed var(--txt-primary);
  }

  .main-headline.sub {
  	font-size: 32px;
  	font-weight: 500;
  	text-align: center;
  	padding-top: 0px;
  	padding-bottom: 40px;

  }

  .video-wrapper-02 {
  	width: 100vw;
  	max-width: 100vw;
  	padding: 0 24px 24px 24px;
  }

  .vid-02 {
  	width: 100%;
  	height: 100%;
  }

  .main-btn.full-w {
  	width: 100%;
  	background-color: var(--secondary-container);
  	color: var(--on-secondary);
  	padding: 12px 16px;
  	border-radius: 4px;
  }
</style>
