<section class="above-fold--wrapper">
	<div class="form-above-fold--container">
  <h1>Welcome to StartApp</h1>
		<h4>Find your dream team !</h4>
    <%= link_to new_user_registration_path do %>
		  <button>Start your journey</button>
    <% end %>
		<%= image_tag "people-working-at-the-desk-vector-3649938.jpg", class: "hero-img" %>
	</div>
</section>
