<section class="above-fold--wrapper">
	<div class="form-above-fold--container">
  <h1>StartApp</h1>
		<h3>Find your dream team !</h3>
   <%=link_to "Start your journey", new_project_path(@project)%>
		<%= image_tag "robin-hood.svg", class: "hero-img" %>
	</div>
</section>
