<section class="above-fold--wrapper">
	<div class="form-above-fold--container">
		<h1>Find Your Dream Job Today</h1>
		<button>Start your journey</button>
		<%= image_tag "robin-hood.svg", class: "hero-img" %>
	</div>
</section
