<section class="above-fold--wrapper">
	<div class="form-above-fold--container">
		<h1>Find your dream team
      find your dream job</h1>
    <%= link_to new_user_registration_path do %>
		  <button>Start your journey</button>
    <% end %>
		<%= image_tag "robin-hood.svg", class: "hero-img" %>
	</div>
</section
