<main>
  <div class="card-wrapper">
    <span class="subtitle">Project</span>
    <h1><%= @project.name %></h1>
    <p><%= @project.description %></p>
    <span class="subtitle">Needs</span>
    <%# For testing purposes %>
    <p> <%= @project.industry %></p>
    <p> <%= @project.number_of_developers %></p>
    <%# For testing purposes %>
  </div>
  <div class="card-wrapper">
    <span class="subtitle">Recommandations</span>
    <h2>Developper Picks</h2>
    
  </div>
</main>
