<h1>Offer Status</h1>
<div class=" card card-wrapper--main">
 <div class="offer-title-container">
   <h2 class ="developer_name"><%= @user.full_name %></h2>
   <% offers.each do |offer|%>
      offer.id
      <% end %>
    </div>
 </div>
