<div>
<img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
<h2> Jonny Dang</h2>
<p>Javascript specialist</p>
</div>
<div>
<h2>Your offer</h2>
<p>Number of hours</p>
<p>Hourly rate</p>
</div>
<div>
<h1>Send offer</h1>
</div>
